<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <!-- 
        As per:
        https://forums.asp.net/t/2170444.aspx?ASP+Net+Core+Dot+Net+Version+3+1+302+Remove+header+and+additional+security+
      -->
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <!--
          As per:
          https://forums.asp.net/t/2170444.aspx?ASP+Net+Core+Dot+Net+Version+3+1+302+Remove+header+and+additional+security+
        -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>